#dropdownContent {
  /* width */
  &::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #d9d9d9;
    border-radius: 8px;
    border-left: 4px solid white;
    border-right: 4px solid white;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #2e1065;
    border-radius: 16px;
  }
}
